* {
    box-sizing: border-box;
    text-align: center;
  }

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, aside, #sect-cont, footer{
    background: #ebebeb;
    
}

header{
    margin-bottom: 10px;
    padding: 20px;
}

.container{
    width: 80%;
    margin-left: 15%;
}

nav{
    padding: 20px;
    margin-bottom: 20px;
}

#sect-cont{
    width: 59%;
    height: 250px;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
}

aside{
    width: 39%;
    margin-left: 2%;
    height: 250px;
    float: left;
    padding: 20px;
}
article{
    background: #777;
    color: #ebebeb;
    height: 185px;  
    padding: 20px;
    margin-top: 10px;
}

footer{

    clear: both;
    padding: 20px;

}

h4, p{
    background: #ebebeb;
    color: #777;
    margin-top: 10px;
    padding: 10px;
}